<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define ProductName = "LastFM to VK"?>
  <?define ProductCode = "*"?>
  <?define UpgradeCode = "ACD89D6D-72CD-4715-BDE9-DCC052311819"?>
  <?define ProductVersion = "0.3.12"?>
    <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" Manufacturer="Konstantin Pereyaslov" UpgradeCode="$(var.UpgradeCode)" Codepage="UTF-8">
        <Package Description="Last FM to VK"  InstallerVersion="300" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.ProductName)"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
            </Directory>
        <Directory Id="DesktopFolder" Name="Desktop">
        
      </Directory>
        </Directory>

        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">

                <Component Id="LASTFMTOVK.EXE" DiskId="1" Guid="*">
                    <File Id="LASTFMTOVK.EXE" Name="lastfmtovk.exe" Source="..\bin\Release\lastfmtovk.exe">
                    </File>
                </Component>
                <Component Id="VK.DLL" DiskId="1" Guid="*">
                    <File Id="VK.DLL" Name="vk.dll" Source="..\bin\Release\vk.dll" />
                </Component>
          </DirectoryRef>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                     Name="$(var.ProductName)" 
                   Description="Отправка статуса в ВК из LastFM"
                    Target="[#LASTFMTOVK.EXE]"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY" Icon="DesktopIcon.exe" IconIndex="0"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                <Shortcut Id="UninstallProduct"             
          Name="Удалить $(var.ProductName)"
          Target="[SystemFolder]msiexec.exe"
          Arguments="/x [ProductCode]"
          Description="Удаляет $(var.ProductName)" />
           </Component>

        </DirectoryRef>
           <DirectoryRef Id="DesktopFolder">
           <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
             Name="$(var.ProductName)"
             Description="Запустить $(var.ProductName)"
             Target="[APPLICATIONROOTDIRECTORY]lastfmtovk.exe"
             WorkingDirectory="APPLICATIONROOTDIRECTORY"
             Icon="DesktopIcon.exe" />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
            Root="HKCU"
            Key="Software/$(var.ProductName)"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes"/>
        </Component>
      </DirectoryRef>

        <Feature Id="MainApplication" Title="Приложение" Level="1">
            <ComponentRef Id="LASTFMTOVK.EXE" />
            <ComponentRef Id="VK.DLL" />
        </Feature>
        <Feature Id="DShortcut" Title="Ярлык на рабочем столе" Level="1">
           <ComponentRef Id="ApplicationShortcutDesktop" />
        </Feature>
        <Feature Id="MShortcut" Title="Ярлыки в главном меню" Level="1">
             <ComponentRef Id="ApplicationShortcut" />
        </Feature>
        <PropertyRef Id="NETFRAMEWORK40FULL"/>
        <Condition  Message="Для этого приложения нужен .NET Framework 4"> <![CDATA[Installed OR NETFRAMEWORK40FULL]]></Condition>
      <UI Id="UserInterface">
  <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
  <Property Id="WixUI_Mode" Value="Custom" />

  <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
  <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
  <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

  <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

  <DialogRef Id="ProgressDlg" />
  <DialogRef Id="ErrorDlg" />
  <DialogRef Id="FilesInUse" />
  <DialogRef Id="FatalError" />
  <DialogRef Id="UserExit" />
 <Publish Dialog="ExitDialog"
    Control="Finish" 
    Event="DoAction" 
    Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
  <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
  <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

</UI>
<UIRef Id="WixUI_Common" />
     
<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Запустить приложение по завершению установки" />
<Property Id="WixShellExecTarget" Value="[#LASTFMTOVK.EXE]" />
<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

        <Icon Id="DesktopIcon.exe" SourceFile="..\bin\Release\lastfmtovk.exe" />
        <Property Id="ARPPRODUCTICON" Value="DesktopIcon.exe" />
        <Upgrade Id="$(var.UpgradeCode)">
  <UpgradeVersion Minimum="0.0.1"
                  IncludeMinimum="yes"
                  OnlyDetect="no"
                  Maximum="$(var.ProductVersion)"
                  IncludeMaximum="yes"
                  Property="UPGRADEFOUND" />
</Upgrade>
<InstallExecuteSequence>
  <RemoveExistingProducts After="InstallInitialize"/>
</InstallExecuteSequence>

    </Product>
</Wix>